# emacs
*~

# compiled
*.pyc

# IntelliJ
.idea
*.iml

# config
config/config.ini


# data
src/estat_tec00118.tsv
data
plot

# notebook
*.ipynb

**/.DS_Store

# notebook.ipynb and notebook folder
notebook.ipynb
notebook
